




<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

###
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Exercise Review](#0)<br>
2.  [Pandas Probelm Walkthrough](#2)<br>
2.  [Pandas Problem Walkthrough 2](#10)<br>
3.  [Pandas Problem Walkthrough 3](#12)
4.  [Exercise]
<br>
</div>
<hr>

<h2>Creata a dataframe using a list of lists</h2>

In [2]:
import numpy as nd
import pandas as pd
idx = ['row_1','row_2','row_3']
df = pd.DataFrame([[1,0,0],[0, 1, 0],[0,0,1]],index=idx,columns=['col 1','col 2','col 3'])
df

       col 1  col 2  col 3
row_1      1      0      0
row_2      0      1      0
row_3      0      0      1

<h2> US Cities Step by Step </h2>
1) load the data and view the first 5 entries

In [6]:
df = pd.read_csv('US_Cities_delimited.txt',delimiter='|')
df.head()  # The default is the first 5

,Order,State_City,Population,Budget,Mayor,Begin_Term,End_Term,Govern_Type,foo1,foo2
0,1,"New York, New York","8,405,837","$73,000,000,000",Bill de Blasio (D),2014,2022,Strong mayor,Yes,No
1,2,"Los Angeles, California","3,884,307","$8,100,000,000",Eric Garcetti (D),2013,2022,Strong mayor,Yes,No
2,3,"Chicago, Illinois","2,718,782","$7,300,000,000",Lori Lightfoot (D),2019,2023,Strong mayor,No,No
3,4,"Houston, Texas","2,195,914","$5,100,000,000",Sylvester Turner (D),2016,2024,Strong mayor,No,No
4,5,"Philadelphia, Pennsylvania","1,553,165","$3,950,000,000",James Kenney (D),2016,2024,Strong mayor,No,No

2) View the object types of each column

In [4]:
df.dtypes

Order           int64
State_City     object
Population     object
Budget         object
Mayor          object
Begin_Term      int64
End_Term        int64
Govern_Type    object
foo1           object
foo2           object
dtype: object

Slice the 50th to 75th row entries and all columns without loc[]

In [5]:
df[50:75]

,Order,State_City,Population,Budget,Mayor,Begin_Term,End_Term,Govern_Type,foo1,foo2
50,51,"New Orleans, Louisiana","378,715","$505,000,000",LaToya Cantrell (D),2018,2022,Strong mayor,Yes,No
51,52,"Bakersfield, California","363,630","$418,000,000",Karen Goh (R),2017,2025,Council-manager,Yes,Yes
52,53,"Tampa, Florida","352,957","$830,000,000",Jane Castor (D),2019,2023,Strong mayor,No,No
53,54,"Aurora, Colorado","345,803","$591,400,000",Mike Coffman (R),2019,2023,Council-manager,No,No
54,55,"Anaheim, California","345,012","$1,600,000,000",Harry Sidhu (R),2018,2022,Council-manager,Yes,No
55,56,"Santa Ana, California","334,227","$430,000,000",Miguel Pulido (D),1994,2020,Council-manager,Yes,Yes
56,57,"St. Louis, Missouri","318,416","$985,200,000",Lyda Krewson (D),2017,2021,Strong mayor,Yes,No
57,58,"Riverside, California","316,619","$894,000,000",Patricia Lock Dawson (NP),2012,2024,Council-manager,No,Yes
58,59,"Corpus Christi, Texas","316,381","$772,000,000",Joe McComb (R),2017,2020,Council-manager,Yes,Yes
59,60,"Lexington, Kentucky","308,428","$540,000,000",Linda Gorton (R),2019,2023,Strong mayor,Yes,No
60,61,"Pittsburgh, Pennsylvania","305,841","$488,000,000",Bill Peduto (D),2014,2022,Strong mayor,No,No
61,62,"Anchorage, Alaska","300,950","$471,000,000",Austin Quinn-Davidson (NP),2020,2021,Hybrid,Yes,No
62,63,"Stockton, California","298,118","$632,000,000",Kevin Lincoln II (R),2021,2024,Council-manager,Yes,Yes
63,64,"Cincinnati, Ohio","297,517","$358,000,000",John Cranley (D),2013,2022,Hybrid,No,No
64,65,"St. Paul, Minnesota","294,873","$515,500,000",Melvin Carter III (D),2018,2022,Strong mayor,No,No
65,66,"Toledo, Ohio","282,313","$650,000,000",Wade Kapszukiewicz (D),2018,2022,Strong mayor,Yes,No
66,67,"Greensboro, North Carolina","279,639","$472,000,000",Nancy B. Vaughan (D),2013,2021,Council-manager,No,No
67,68,"Newark, New Jersey","278,427","$800,000,000",Ras J. Baraka (D),2014,2022,Strong mayor,No,No
68,69,"Plano, Texas","274,409","$492,000,000",Harry LaRosiliere (R),2013,2021,Council-manager,No,No
69,70,"Henderson, Nevada","270,811","$482,000,000",Debra March (D),2017,2021,Council-manager,No,No
70,71,"Lincoln, Nebraska","268,738","$159,000,000",Leirion Gaylor Baird (D),2019,2023,Strong mayor,No,No
71,72,"Buffalo, New York","258,959","$479,900,000",Byron Brown (D),2005,2021,Strong mayor,No,No
72,73,"Jersey City, New Jersey","257,342","$535,300,000",Steven Fulop (D),2013,2021,Strong mayor,Yes,No
73,74,"Chula Vista, California","256,780","$293,400,000",Mary Salas (D),2014,2022,Council-manager,Yes,No
74,75,"Fort Wayne, Indiana","256,496","$190,200,000",Tom Henry (D),2008,2024,Strong mayor,No,No

Slice the 60th to 75th row for the Population column using loc[]

In [9]:
df.loc[60:75, 'Population']

60    305,841
61    300,950
62    298,118
63    297,517
64    294,873
65    282,313
66    279,639
67    278,427
68    274,409
69    270,811
70    268,738
71    258,959
72    257,342
73    256,780
74    256,496
75    255,483
Name: Population, dtype: object

Filter only cities with Mayors who began terms in 2016.

In [10]:
df[df.Begin_Term == 2016 ]

,Order,State_City,Population,Budget,Mayor,Begin_Term,End_Term,Govern_Type,foo1,foo2
3,4,"Houston, Texas","2,195,914","$5,100,000,000",Sylvester Turner (D),2016,2024,Strong mayor,No,No
4,5,"Philadelphia, Pennsylvania","1,553,165","$3,950,000,000",James Kenney (D),2016,2024,Strong mayor,No,No
12,13,"Indianapolis, Indiana","843,393","$1,030,000,000",Joseph Hogsett (D),2016,2024,Strong mayor,No,No
20,21,"Memphis, Tennessee","653,450","$618,000,000",Jim Strickland (D),2016,2024,Strong mayor,No,No
34,35,"Sacramento, California","479,686","$819,000,000",Darrell Steinberg (D),2016,2024,Council-manager,Yes,Yes
46,47,"Tulsa, Oklahoma","398,121","$597,000,000",G. T. Bynum (R),2016,2024,Strong mayor,No,Yes
79,80,"Norfolk, Virginia","246,139","$1,100,000,000",Kenneth Alexander (D),2016,2024,Council-manager,Yes,Yes
82,83,"Lubbock, Texas","239,538","$674,500,000",Dan Pope (R),2016,2020,Council-manager,Yes,Yes
95,96,"Fremont, California","224,922","$238,460,000",Lily Mei (Nonpartisan),2016,2020,Council-manager,Yes,Yes
99,100,"Richmond, Virginia","207,878","$1,722,417,160",Levar Stoney (D),2016,2020,Strong mayor,Yes,Yes

Count the total number of cities.

In [11]:
df.count()

Order          100
State_City     100
Population     100
Budget         100
Mayor          100
Begin_Term     100
End_Term       100
Govern_Type    100
foo1           100
foo2           100
dtype: int64

Count the mean year that the Mayors began their terms.

In [12]:
df.Begin_Term.describe().loc['mean']

2015.07

<h2>Use .unique() for unique values<h2>

In [ ]:
df.Begin_Term.unique()

In [ ]:
df['Begin_Term'].unique()

In [ ]:
df.groupby(['Begin_Term'])['Order'].count()

In [ ]:
# Look at how many records are there per state
df.groupby(['Begin_Term']).count().sort_values('foo1')

<h2> Exercise 1 </h2>

Using the US_Cities.delimited.txt file and Pandas

1) Clean the data

2) Create a separate column for cites and states

3) Count how many cites have Republican and how many have Democrat Mayors

4) Which city has the highest budget and which has the lowest budget?

5) Create a column called 'Budget per capita'. Which calcs how many dollars per perosn the city has

6) Then return which cities have the lowest and highest

In [ ]:
df = pd.read_csv('US_Cities_delimited.txt',delimiter='|')
df = pd.DataFrame(df)

<h2> Exercise 2 </h2>

Using the class_heights.txt file and Pandas

1) Clean the data

2) Make column names Title Case

3) Sort gender column by Gender. Female first

4) Convert heights to centimeters

5) Count how many of each gender are in the total class_heights

6) Calc the average height of each gender and the class total

7) Calc the median, mode, and standard deviantion for the total class

<h2> Example Walkthrough: Create your own DataFrame and Square it based on row conditions </h2>

In [ ]:
import pandas as pd
import numpy as np

# creating and initializing a nested list
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]

# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])


# Apply function numpy.square() to square
# the values of 3 rows only i.e. with row
# index name 'a', 'e' and 'g' only
df = df.apply(lambda x: np.square(x) if x.name in [
              'a', 'e', 'g'] else x, axis=1)
df = df.apply(np.square(df))
# printing dataframe
df

<h2>To filter or search for values - isin([])</h2>

In [ ]:
import pandas as pd
df = pd.DataFrame({'num_legs': [2, 4,0,8,4], 'num_wings': [2, 0,0,0,4]},

                  index=['falcon', 'dog','snake','spider','dragonfly'])
df

In [ ]:
df.isin([8])

In [ ]:
df.isin([2,4])

<h2>isin() filter by column</h2>

In [ ]:
filter = [2,4]
num_legs = df[df.num_legs.isin(filter)]
num_legs

<h2> Exercise 3</h2>

Create a class that operates on words

1 - method 'remove_vowels' - Strips all vowels out

2 - method 'strip_constants' - Strips constants

3 - method 'strip_fixed' - Strips based on a skip

4 - print gives the word and and counts the number of vowels and the number of constants

5 - Add a method that randomly removes up to n chars but has to be less than the length - 1(colapses)

6 - On all removal options add option to replace the removal with a specified character. The default is an underscore '_'