<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Pandas Overwiew</h2>

We use Pandas as the primary tool for analyzing data.  All of the functions we calculated<br>
by hand earlier in this course are now given to you automatically using built in functions.<br>
<br>
The primary data structures used with Pandas are series and dataframes<br>
The difference is that we use series for 1 dimensional data and we use dataframes for<br>
multidimensional data.

<h2>Pandas Series</h2>

To create a pandas data series do the following:<br>
    <code>
    import pandas as pd
    x = pd.Series(range(1,10))
    x
    </code>
Notice the capital letter in the Series

In [ ]:
import pandas as pd 
x = pd.Series(range(5,15))
x

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

Notice as well the index: the main difference between pandas series and numpy arrays. Oh but, what's this inside? A Numpy array!

In [ ]:
x.values
print(type(x.values))

<class 'numpy.ndarray'>

In [ ]:
x[0]
x.values[2:4]

5

Pandas series house numpy arrays, but add a flexible indexing list.

<h4>Data types</h4>

Let's try the same thing using charaters in a string<br>
<code>
import pandas as pd
x = pd.Series(['Python'])
x
</code>

In [ ]:
x = pd.Series([3,4,5]) 
x

0    3
1    4
2    5
dtype: int64

<h2>Exercise</h2>
Store the string 'Learning Python is fun' as a string of characters to a pandas series and print the first letter of each word.<br>

<h4>Solution</h4>

In [ ]:
y = pd.Series(['Learning,Python,is,fun', 'hi', 'bye', 'undecided'])
phrase = y[0]
words = phrase.split(',')
for word in words:
  print(word[0])

0    Learning,Python,is,fun
1                        hi
2                       bye
3                 undecided
dtype: object

<h4>The Index of Pandas Series</h4>
Create your own indexing by specifying pd.Series([values],index = ['your', 'index', 'labels' 'here'])

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['joe', 'bob', 'alex', 'arthur'])
data

joe       0.25
bob       0.50
alex      0.75
arthur    1.00
dtype: float64

Rings like a dictionary? True!

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Now we can slice and operate, unlike w/ dictionaries:

In [ ]:
population['California':'New York']
arr = population.values
ind = population.index
print(ind)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')