<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Pandas Overwiew</h2>

We use Pandas as the primary tool for analyzing data.  All of the functions we calculated<br>
by hand earlier in this course are now given to you automatically using built in functions.<br>
<br>
The primary data structures used with Pandas are series and dataframes<br>
The difference is that we use series for 1 dimensional data and we use dataframes for<br>
multidimensional data.

<h2>Pandas Series</h2>

To create a pandas data series do the following:<br>
    <code>
    import pandas as pd
    x = pd.Series(range(1,10))
    x
    </code>
Notice the capital letter in the Series

In [1]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.2-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 5.9 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 68.8 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 66.5 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3 in /Users/brennanstopnik/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/brennanstopnik/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.0.2 pytz-2023.3 tzdata-2023.3
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [3]:
import pandas as pd 
x = pd.Series(range(5,15))
x

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

Notice as well the index: the main difference between pandas series and numpy arrays. Oh but, what's this inside? A Numpy array!

In [3]:
x.values
print(type(x.values))

<class 'numpy.ndarray'>

In [36]:
x[0]
x.values[2:4]

array([7, 8])

Pandas series house numpy arrays, but add a flexible indexing list.

<h4>Data types</h4>

Let's try the same thing using charaters in a string<br>
<code>
import pandas as pd
x = pd.Series(['Python'])
x
</code>

In [37]:
x = pd.Series([3,4,5]) 
x

0    3
1    4
2    5
dtype: int64

<h2>Exercise</h2>
Store the string 'Learning Python is fun' as a string of characters to a pandas series and print the first letter of each word.<br>

<h4>Solution</h4>

In [38]:
y = pd.Series(['Learning,Python,is,fun', 'hi', 'bye', 'undecided'])
phrase = y[0]
words = phrase.split(',')
for word in words:
  print(word[0])

L
P
i
f

<h4>The Index of Pandas Series</h4>
Create your own indexing by specifying pd.Series([values],index = ['your', 'index', 'labels' 'here'])

In [39]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['joe', 'bob', 'alex', 'arthur'])
data

joe       0.25
bob       0.50
alex      0.75
arthur    1.00
dtype: float64

Rings like a dictionary? True!

In [40]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Now we can slice and operate, unlike w/ dictionaries:

In [41]:
population['California':'New York']
arr = population.values
ind = population.index
print(ind)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Let's now take a mix of floating point numbers and integers and store them in a pandas series<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4]
ps = pd.Series(numbers)
ps
</code>

In [42]:
numbers = [2, 2.4, 3, 3.4, 5]
ps = pd.Series(numbers)
ps

0    2.0
1    2.4
2    3.0
3    3.4
4    5.0
dtype: float64

Broadcasting also happens when we add only one value to the values list but multiple indices:

In [43]:
x = pd.Series(5, index=[100, 200, 300])
x

100    5
200    5
300    5
dtype: int64

To access individual elements in a series we use indexinging and slicing as we<br>
do in regular python.  To access the first element in our series type:
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[0]
</code>

In [44]:
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[0]

2

To obtain a range of number we use slicing.  To get the last 2 elements in our series<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]
</code>

In [45]:
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]
ps[2:]

2       3
3     3.4
4    Blue
dtype: object

We can change elements in a series by assigning a value to the element<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps
</code><br>
NOTE: It does not automatically change all of the elements in a series if we manually change<br>
all of the elements to the same data type

In [46]:
ps[4] = 23.5
ps

0       2
1     2.4
2       3
3     3.4
4    23.5
dtype: object

<h2>Pandas Series Casting</h2>
We wil now change our data from an object to a int64 data series<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps.astype('float32')
ps.dtype
new_ps = ps.astype('float32')
new_ps
</code>
NOTE: This operation is not in place

In [47]:
numbers = [2,4,3,1]
ps = pd.Series(numbers)
print(ps)
new_ps = ps.astype('float32')
print(new_ps)

0    2
1    4
2    3
3    1
dtype: int64
0    2.0
1    4.0
2    3.0
3    1.0
dtype: float32

We can create a series of dates<br>
<code>
import pandas as pd
dates = pd.Series(pd.date_range('20200101', periods=6))
print(dates.dtype)
dates
</code>

In [48]:
dates = pd.Series(pd.date_range('20200101', periods=3))
dates

0   2020-01-01
1   2020-01-02
2   2020-01-03
dtype: datetime64[ns]

<h2>Pandas Operations</h2>
We can perform an operation against the whole series<br>
<code>
x = range(10,21)
s1 = pd.Series(x) * 2
s1
</code>

In [49]:
x = range(10,21)
s1 = pd.Series(x) + 2 
s1

0     12
1     13
2     14
3     15
4     16
5     17
6     18
7     19
8     20
9     21
10    22
dtype: int64

<h2>Exercise</h2>
Create a data series of all the odd numbers from 100 to 130<br>
Then divide each number by 3<br>

<h4>Solution</h4>

In [50]:
# Pandas Series from a list of odd numbers from 100 to 130 and divide each number in the series by 3
odd_numbers_series = pd.Series([num/3 for num in range(100, 131) if num % 2 != 0])

odd_numbers_series

0     33.666667
1     34.333333
2     35.000000
3     35.666667
4     36.333333
5     37.000000
6     37.666667
7     38.333333
8     39.000000
9     39.666667
10    40.333333
11    41.000000
12    41.666667
13    42.333333
14    43.000000
dtype: float64

<h2>Series head and tail</h2>
To display the beginning and ending of a long series use head and tail.<br>
This is the same as using the linux head() and tail(). This is great to get a quick overview of the data types without overcomplicating your view<br>
<code>
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.head()
ps.tail()
</code>
<br>
Head will show the first 5 items in a series
Tail will show the last 5 items in a series

In [51]:
x = range(101,171,2)
ps = pd.Series(x)
# ps.head(10)
ps.tail(10)

25    151
26    153
27    155
28    157
29    159
30    161
31    163
32    165
33    167
34    169
dtype: int64

<h2>Adding to a data series</h2>
To add to a series we use the concat method.  However, we must use an optional<br>
parameter if we haven't included an index on our series.<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.concat(p2, ignore_index=True)
p3
</code>

In [54]:

x = range(101,121,2)
p1 = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = pd.concat([p1, p2], ignore_index=True)
p3

0     101
1     103
2     105
3     107
4     109
5     111
6     113
7     115
8     117
9     119
10      1
11      2
12      3
13      4
14      5
15      6
16      7
17      8
18      9
19     10
dtype: int64

<h2>Removing a row from a series</h2>
To remove a line from a series use the drop method with index as arg<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p4 = p3.drop(1)
p4
</code>

In [55]:
x = range(101,121,2) 
ps = pd.Series(x)
ps2 = ps.drop(7)
ps2

0    101
1    103
2    105
3    107
4    109
5    111
6    113
8    117
9    119
dtype: int64

Using the above, drop the tail and head of p3 and output the resulting series.

In [56]:
p1 = pd.Series(range(101,121,2))
p2 = pd.Series(range(1,11))
p3 = pd.concat([p1, p2], ignore_index=True)

p3 = p3.drop(p3.head().index)
p3 = p3.drop(p3.tail().index)
p3

5     111
6     113
7     115
8     117
9     119
10      1
11      2
12      3
13      4
14      5
dtype: int64

<h2>Pandas Series Index</h2>
We can add an index to a series by passing in an index of the same size as the data<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps
</code>
<br>
NOTE: The size of the index and data must be the same

<h2>Pandas search using the index</h2>
To search for an element isn a series use the 'loc' method<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps.loc[8]
</code>

In [57]:
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index) 
ps.loc[8]

'D'

In [ ]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df.loc[['viper', 'sidewinder']] #loc[] always based on index

            max_speed  shield
viper               4       5
sidewinder          7       8

<h2>Exercise</h2>
Create a pandas data series with every lower case letter of the alphabet<br>
with the ascii number as the index.<br>
Use alphabet_string = string.ascii_lowercase for a list of letters.

In [4]:
import string

# A pandas Series with lowercase letters of the alphabet and ASCII numbers as index
series_alphabet = pd.Series(list(string.ascii_lowercase), index=[ord(letter) for letter in string.ascii_lowercase])

series_alphabet

97     a
98     b
99     c
100    d
101    e
102    f
103    g
104    h
105    i
106    j
107    k
108    l
109    m
110    n
111    o
112    p
113    q
114    r
115    s
116    t
117    u
118    v
119    w
120    x
121    y
122    z
dtype: object

In [7]:
alpha_str = string.ascii_lowercase
alpha_list = list(alpha_str)
ords = []
for letter in alpha_list:
    ords.append(ord(letter))
series_alpha = pd.Series(alpha_list, index=ords)
series_alpha

97     a
98     b
99     c
100    d
101    e
102    f
103    g
104    h
105    i
106    j
107    k
108    l
109    m
110    n
111    o
112    p
113    q
114    r
115    s
116    t
117    u
118    v
119    w
120    x
121    y
122    z
dtype: object

This notebook is part of a course at www.codeimmersives.com called Data Science. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives