<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas continued](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Review</h2>

<h2>Pandas Series continued</h2>

We can sort a series by using the sort_values method.<br>
<code>
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values(ascending = False)
ps
</code><br>
NOTE: We can use the ascending = True to sort the series in ascending order

In [ ]:
import pandas as pd
x = [27,4,14,23,33,14,22,11] 
ps = pd.Series(x).sort_values(ascending = False) 
ps

4    33
0    27
3    23
6    22
2    14
5    14
7    11
1     4
dtype: int64

We can also sort a series using a lambda expression.  Consider the <br>
following list of strings:<br>
<code>
ps = pd.Series(['a', 'B', 'c', 'D', 'e'])
ps.sort_values(key=lambda x: x.str.lower())
ps
</code><br>
NOTE: We can use the str method to change all values in a series to a string

In [ ]:
ps = pd.Series(['a', 'c', 'B', 'd', 'e'])
ps_sorted = ps.sort_values(key=lambda x: x.str.upper())
ps_sorted

0    a
2    B
1    c
3    d
4    e
dtype: object

<H2>Exercise</h2>
Take the following list of cities and alphabetize them and put them<br>
In the proper case:  ALBANY ---> Albany<br>
<case>
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

</case>

<h4>Solution</h4>

In [ ]:
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

['Albany', 'Boston', 'Hartford', 'Providence', 'Trenton']

<h4>Pandas Series.str methods</h4>
Here is a list of str methods to try:<br>
str.contains<br>
str.count<br>
str.endswith<br>
str.find<br>
str.index<br>
str.join<br>
str.get<br>
str.len<br>
str.split<br>
str.isalnum<br>

<h2> Exercise </h2> 
1) use pd.str to get a boolean matrix for which words in the series <code> ['Mouse', 'dog', 'house and parrot', '23', np.NaN] </code> contain 'og' - use pd.str.contains <br>
2) Use pd.str.count to get the count of 'a' in the series <code> ['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat','aardvark'] </code> <br>
3) Use pd.str.count to get the count of dollar signs in the series *hint* special characters need a double backslash before them ('\\') <code>
['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat', 'canna$', 'findme_', 'dollarsign$', 'infinite', 'lo$'] </code>
 <br>
4) Use pd.str.endswith() to see how many strings end with 't' in the series <code> ['bat', 'bear', 'caT', np.nan, 'lost', 'later', 'tattletale', 'tops', 'taste', 'tart', 'tango', 'taint', 'tarentino', 'tot'] </code> <br>
5) Use pd.str.join() to join all elements in the series <code> [['lion', 'elephant', 'zebra'],
               [1.1, 2.2, 3.3],
               ['cat', 'gerbil', 'dog'],
               ['cow', 4.5, 'goat'],
               ['duck', 'swan', 'fish', 'guppy']] </code> using a hyphen '-' to join.

Solution:

In [ ]:
import pandas as pd
import numpy as np

We can split the data in a series and unpack the results into columns<br>
<br>
<code>
cities = ['PROVIDENCE, Rhode Island', 'Harford, Connecticut','Boston, Massachusetts']
ps = pd.Series(cities).str.split(expand = True)
ps
</code><br>
NOTE: We use the expand key word argument to create the multiple columns

In [ ]:
cities = ['PROVIDENCE, Rhode Island', 'Harford, Connecticut','Boston, Massachusetts']
ps = pd.Series(cities).str.split(',', expand = True)
ps

            0               1
0  PROVIDENCE    Rhode Island
1     Harford     Connecticut
2      Boston   Massachusetts

We can remove a row by dropping its index<br>
<br>
<code>
import pandas as pd
favorites = {'1st place':'Pineapple',
            '2nd place': 'Grapes',
            '3rd place': 'Granny Smith Apples',
            '4th place': 'Strawberries'}
ps = pd.Series(favorites.values(), index = favorites.keys())
new_ps = ps.drop(labels='4th place')
new_ps
</code>

In [ ]:
import pandas as pd
favorites = {'1st place':'Pineapple',
            '2nd place': 'Grapes',
            '3rd place': 'Granny Smith Apples',
            '4th place': 'Strawberries'}
ps = pd.Series(favorites)
new_ps = ps.drop(labels='4th place')
new_ps

1st place              Pineapple
2nd place                 Grapes
3rd place    Granny Smith Apples
dtype: object

<h4>Pandas Series sum</h4>
We can sum up all of our values in the series<br>
<code>
import pandas as pd
data = [90,93,97,88, 89]
ps = pd.Series(data)
print(ps.sum())
</code>

In [ ]:
import pandas as pd
data = [90,93,97,88, 89]
ps = pd.Series(data)
print(ps.sum())

457

### DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame.head(2)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [ ]:
frame.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [ ]:
frame = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'area'])
frame['area'] = [5,6,7,8,9,7]
frame

   year   state  pop  area
0  2000    Ohio  1.5     5
1  2001    Ohio  1.7     6
2  2002    Ohio  3.6     7
3  2001  Nevada  2.4     8
4  2002  Nevada  2.9     9
5  2003  Nevada  3.2     7

<h2> Exercise </h2>
1) Edit the states dataframe to create a new dataframe frame2 that adds a 'debt' column   <br> 
2) change the indices to be string numbers from one to six ('one', ... 'six) <br>
3) Print all the values in the years column for viewing <br>
4) Print row 'three' with all it's values using loc[] <br>
5) Use numpy's arange() function to fill the debt column frame2['debt'] with a range of numbers (Hint: you need to match the range to the number of rows in the frame for broadcasting to work).